$backgroundColor: #E9E9E9;
$backgroundButtonColor: #E41D1B;
$backgroundButtonColorHover: #c1221f;

.container {
    max-width: 1680px;
}

.titleSlider {
    font-weight: 500;
    font-size: 44px;
    margin-block-end: 20px;
    text-transform: uppercase;

    @media (max-width: 1280px) {
       margin-block-end: 40px; 
    }

    @media (max-width: 768px) {
       font-size: 34px; 
    }

    @media (max-width: 768px) {
       font-size: 24px; 
        margin-block-end: 23.2px;
    }

    @media (max-width: 320px) {
       margin-block-end: 30px; 
    }
}

.buttonSlideBlock {
    margin-block-start: 20px;
    display: flex;

    @media (max-width: 1800px) {
        justify-content: space-between;
    }

    @media (max-width: 470px) {
        margin-block-start: 18.79px;
    }

    @media (max-width: 320px) {
        margin-block-start: 30px;
    }
}

.buttonSlideContainer {
    display: flex;
    gap: 20px;
}

.buttonSlidePrev {
    margin-inline-end: 5px;
    margin-block-start: 3px;   
}

.buttonSlideNext {
    margin-inline-start: 5px;
    margin-block-start: 3px;
}

.slideNext {
   width: 45px;
    height: 45px;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer; 
}

.slidePrev {
   width: 45px;
    height: 45px;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;  
}

.buttonCatalog {
    width: 242px;
    height: 44px;
    background-color: $backgroundButtonColor;
    color: $backgroundColor;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    margin-inline-start: 1038px;
    transition: background-color ease 300ms;
    cursor: pointer;

    @media (max-width: 1800px) {
        margin-inline-start: 0;
        margin-inline-end: 240px;
    }

    @media (max-width: 1440px) {
        margin-inline-end: 0;
    }

    @media (max-width: 470px) {
        width: 146px;
    }
}

.buttonCatalog:hover {
        background-color: $backgroundButtonColorHover;
        transition: background-color ease 300ms;
    }

.disabled {
    background-color: #eeeeee;
    cursor: no-drop;

    path {
        stroke: #c6c5c5;
    }
}